<% provide(:title, 'Home') %>


	<h1>This is the official page of Effie Dimou</h1>
	<p>Find me in app/views/pages/home.html.erb</p>
	<p>Ilias</p>
	<a href="http://rubyonrails.org/">Ruby on Rails</a>
	

